<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.alumni.klu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="my.alumni.klu.App"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="my.alumni.klu.addaluminiben"></activity>
        <activity android:name="my.alumni.klu.benefitygiven" />
        <activity android:name="my.alumni.klu.jobsactivity" />
        <activity android:name="my.alumni.klu.registerexample" />
        <activity android:name="my.alumni.klu.loginexample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="my.alumni.klu.examplehead" />
        <activity
            android:name="my.alumni.klu.Side_drawer"
            android:label="Alumni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="my.alumni.klu.eventRecycler" />
        <activity android:name="my.alumni.klu.Notifications.changeData" />
        <activity android:name="my.alumni.klu.Fragments.threeFragment" />
        <activity android:name="my.alumni.klu.Fragments.twoFragment" />
        <activity android:name="my.alumni.klu.Fragments.oneFragment" />
        <activity android:name="my.alumni.klu.HomeScreen" />
        <activity android:name="my.alumni.klu.AluminiKLU" />
        <activity android:name="my.alumni.klu.Comments" />
        <activity android:name="my.alumni.klu.personal_info" />
        <activity android:name="my.alumni.klu.information" />
        <activity android:name="my.alumni.klu.add_discription" />
        <activity android:name="my.alumni.klu.MessageActivity" />
        <activity
            android:name="my.alumni.klu.ChatBox"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="my.alumni.klu.Forget_password" />
        <activity android:name="my.alumni.klu.Login" />
        <activity
            android:name="my.alumni.klu.ImagesActivity"
            android:label="KLU ALUMINI" />
        <activity android:name="my.alumni.klu.home" />
        <activity android:name="my.alumni.klu.MainActivity" />

        <service
            android:name="my.alumni.klu.Notifications.MyFirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="my.alumni.klu.Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>